.vtex-minicart-2-x-minicartQuantityBadge--minicart-home {
  top: 6px;
  left: 39px;
  background: transparent;
}
.minicartQuantityBadge--minicart-home{
  background: black;
}

/*Stilos Mobil*/
@media screen and (max-width: 700px) {

.minicartContainer--minicart-home{
  margin: 0px;
}

}
@media screen and (max-width: 1025px) {

  .minicartContainer--minicart-home{
    margin: 0px;
  }
  
  }