<<<<<<< HEAD
.productName {font-size: 10px;}

.productPriceContainer {text-align: inherit;}

.productVariationsContainer {display: flex;border-bottom: 1px solid #ccc9c9;margin: 0 0 10px 0;}

.productVariationsItem {margin: 0 13px 7px 0;}
.productBrandName {font-size: 10px;}
.productVariationsItem {font-size: 11px;}
=======
.productName {font-size: 14px;}

.productPriceContainer {text-align: inherit;}

.productVariationsContainer {display: flex;border-bottom: 1px solid #ccc9c9;margin: 0 0 16px 0;}

.productVariationsItem {margin: 0 13px 7px 0;}
>>>>>>> c1f40adffafc45e98f5e5bf55b03da4c4ef39913
